@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos generales inicio */
body {
  background-color: whitesmoke;
  min-height: 100vh;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

img {
  width: 100%;
}

a {
  color: gray;
}

a:hover {
  color: #7a5cf4 !important;
  text-decoration: none;
}

section, .section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sinpaddingtop {
  padding-top: 0;
}

.tituloDeSeccion {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 32px;
}

iframe {
  max-width: 100%;
}

.scale:hover {
  z-index: 8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.space-botton1 {
  margin-bottom: 30px;
}

.imagen-fondo-100vh {
  height: 100vh;
  background-image: url(https://img.freepik.com/foto-gratis/hombre-que-trabaja-oficina-papeles-portatil-mesa_1150-52080.jpg);
  background-position: center;
  background-size: cover;
}

/* Estilos generales fin */
/* Estilos del menu principal inicio*/
.bg-dark {
  background-color: #242424 !important;
}

.navbar {
  padding: 0.5rem 0;
}

.menu__logo {
  height: 50px;
  float: left;
  margin-bottom: 0;
}

/* Estilos del menu principal fin */
/* Estilos del banner de portada inicio */
.banner {
  height: 600px;
  background-image: url(images/banner1.jpg);
  background-size: cover;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.cuerpo {
  padding: 0px;
}

.banner__titulo {
  font-size: 3rem;
}

.banner-esc-arquitectura {
  background-image: url(images/escuela1.jpg);
  height: auto;
}

.banner-gradient {
  background-image: -webkit-gradient(linear, right black, );
  background-image: linear-gradient(left black rgba(0, 0, 0, 0.134));
  width: 100%;
  background-image: linear-gradient(45deg, black, transparent);
}

/* Estilos del banner de portada fin */
/* Estilo de sección con fondo solido inicio*/
.sectionType2 {
  background-color: #e7e7e7;
}

/* Estilo de sección con fondo solido fin*/
/* Estilo de cards inicio*/
.card {
  border: solid 1px #dddddd;
  border-radius: 25px;
  margin-bottom: 2rem;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.card:hover {
  z-index: 8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__portada__imagen {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.card__body {
  padding: 15px;
}

.card__titulo {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

.card__titulo a {
  color: black;
}

.card__autor {
  margin-bottom: 10px;
}

.card__autor span {
  color: #7a5cf4;
  font-weight: 600;
}

.card__precio {
  font-weight: 700;
}

/* Estilo de cards fin*/
/* Estilos de sección sobre nosotros inicio */
.sobreNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sobrenosotros {
  background-image: -webkit-gradient(linear, right top, left top, from(#7a5cf4), to(#569fe2));
  background-image: linear-gradient(to left, #7a5cf4, #569fe2);
}

.sobreNosotros__item {
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobreNosotros__body h2 {
  text-align: left !important;
}

.sobreNosotros__body__descripcion {
  margin-bottom: 2rem;
}

/* Estilos de sección sobre nosotros fin */
/* Estilos del footer inicio */
footer {
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.footer__logo {
  float: left;
}

.footer__rs {
  float: right;
}

.footer__rs i {
  font-size: 25px;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Estilos del footer fin */
/* Estilos del formulario inicio */
.form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form__input {
  width: 100%;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: solid 1px #dbdbdb;
}

::-webkit-input-placeholder {
  color: #b8b8b8;
}

:-ms-input-placeholder {
  color: #b8b8b8;
}

::-ms-input-placeholder {
  color: #b8b8b8;
}

::placeholder {
  color: #b8b8b8;
}

.form__btn {
  margin-top: 25px;
}

/* Estilos del formulario fin */
/* Estilos responsive con mixin inicio*/
@media screen and (max-width: 600px) {
  .courses,
  .sobreNosotros,
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ()[1fr];
        grid-template-columns: repeat(1fr);
    grid-column-gap: 15px;
  }
  .card,
  .sobreNosotros__item,
  .footer__item {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
  }
  .banner {
    background-position: right;
  }
  section {
    padding: 60px 0;
  }
  .imagen-fondo-100vh {
    height: 50vh;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .courses {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
  }
  .sobreNosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 15px;
  }
  .card,
  .sobreNosotros__item {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
  }
  .container {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 901px) {
  .courses {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
  }
  .card {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
  }
  .container {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Estilos responsive con mixin fin*/
/* Estilos para RS usanso maps inicio */
.fa-facebook {
  color: #3a5795;
}

.fa-twitter {
  color: #55acee;
}

.fa-instagram {
  color: #C25E30;
}

/* Estilos para RS usando maps fin */
/* Estilos para diferenciar botones usando extend inicio */
.btn, .btn--dark, .btn--light {
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn--dark {
  color: white;
  background-color: #7a5cf4;
  border: solid 2px #7a5cf4;
}

.btn--light {
  color: #7a5cf4;
  border: solid 2px #7a5cf4;
}

.btn:hover, .btn--dark:hover, .btn--light:hover {
  background-color: #412b98;
  color: white !important;
  border: solid 2px #412b98;
}

/* Estilos para diferenciar botones usando extend fin */
/* Estilos breadcrum inicio */
.breadcrumb--bar {
  background-color: #e9ecef;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb-item.active {
  font-weight: 600;
  color: #7a5cf4;
}

/* Estilos breadcrum fin */
/* Modificando color de texto con mixin inicio */
.invertido {
  color: white;
}

.centrado {
  text-align: center;
}

/* Modificando color de texto con mixin fin */
/* Estilo en seccion para solicitar cursos inicio */
.solicitar-curso-div {
  border-radius: 25px;
  background-color: #262626;
}

.solicitar-curso {
  height: 300px;
}

.solicitar-curso1 {
  background-image: url(https://img.freepik.com/foto-gratis/hombre-que-trabaja-oficina-papeles-portatil-mesa_1150-52080.jpg?w=1800&t=st=1654210333~exp=1654210933~hmac=107cfc82c8030211f50b66353343edc1bc50ada95523db2f552af051203e2706);
  background-position: center;
  background-size: cover;
  padding: 0px;
  border-radius: 25px;
}

.solicitar-curso2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solicitar-curso-gradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#262626), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, #262626, rgba(0, 0, 0, 0));
  height: 300px;
}

/* Estilo en seccion para solicitar cursos fin */
/* Estilos fondo de pantalla de proximamente inicio*/
.imagen-fondo-proximamente {
  background-image: url(images/fondo-proximamente_2.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Estilos fondo de pantalla de proximamente fin*/
/*# sourceMappingURL=estilos.css.map */